.ContainerCards {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  @media (max-width: 600px) {
    gap: 16px;
  }
}
.CardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-family: var(--font);
  height: 200px;
  width: 150px;
  gap: 8px;
  border: 5px solid var(--primary);
}
.DevName {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--tertiary);
  width: 100px;
  text-align: center;
  padding-top: 16px;
}
.DevImg {
  height: 100px;
  width: 100px;
  padding-top: 16px;
  img {
    border-radius: 50%;
    border: 2px solid var(--tertiary);
    height: 100px;
    width: 100px;
  }
}
.DevRole {
  font-size: 1rem;
  font-weight: 400;
  color: var(--tertiary);
  background: var(--degrade-2);
  padding: 12px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
